@media (max-width:700px) {
    .nav__brand span{
        display: none;
    }
}

@media (max-width:550px) {
    nav{
        display: none;
    }
    .burger-menu{
        display: block;
    }
    .nav__brand span{
        display: block;
    }
}