@media (max-width:700px) {
    .nav__brand span{
        display: none;
    }
}

@media (max-width:550px) {
    nav{
        display: none;
    }
    .burger-menu{
        display: block;
    }
    .nav__brand span{
        display: block;
    }
    .hero__wrapper{
        flex-direction: column-reverse;
    }
    .hero__banner__inner img{
        max-width: 350px;
    }
    .hero__slogan{
        max-width: 300px;
    }
    .hero-content__inner{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}