/* Root */
:root{
    --cl-bg:#EFEFFF;
    --cl-white:#fff;
    --cl-black:#000;
    --cl-purple:#9163D9;
    --cl-text:#12100C;
}

/* Fonts */
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-Black.ttf);
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-ExtraBold.ttf);
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Bold.ttf) ;
    font-style: normal;
    font-weight: 700;
    font-display: swap;

}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-Medium.ttf);
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-Regular.ttf);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-Light.ttf);
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-ExtraLight.ttf);
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--cl-bg);
    height: 1000px;
    position: relative;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a,
button,
.burger-menu{
    cursor: pointer;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5px;
}

/* Style For Header */

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--cl-bg);
    padding: 2% 5%;
}

.header__wrapper,
.nav__brand,
.hero__wrapper,
.about-us__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.nav__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: clamp(1rem,2.5vw,2.5rem);
}

.nav__brand{
    gap: 0 20px;
}

.nav__brand span{
    font-size: clamp(1.3rem,2vw,1.8rem);
    font-weight: 600;
}

.brand-icon{
    max-width: 50px;
}

.list__link{
    font-size: clamp(0.8rem,1.5vw,1.2rem);
    position: relative;
    font-weight: 400;
}

.nav__brand span,
.list__link{
      color: var(--cl-text);
}

.burger-menu{
    display: none;
    cursor: pointer;
    position: relative;   
}

.burger-menu span{
    position: absolute;
    display: block;
    width: 35px;
    height: 4px;
    background-color: var(--cl-purple);
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.burger-menu .line-1{
    transform: translate(-50%,-12px);
    -webkit-transform: translate(-50%,-12px);
    -moz-transform: translate(-50%,-12px);
    -ms-transform: translate(-50%,-12px);
    -o-transform: translate(-50%,-12px);
}

.burger-menu .line-3{
    transform: translate(-50%,7px);
    -webkit-transform: translate(-50%,7px);
    -moz-transform: translate(-50%,7px);
    -ms-transform: translate(-50%,7px);
    -o-transform: translate(-50%,7px);
}

.active .line-1{
    transform: translate(-50%,-50%) rotate(-45deg);
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    -moz-transform: translate(-50%,-50%) rotate(-45deg);
    -ms-transform: translate(-50%,-50%) rotate(-45deg);
    -o-transform: translate(-50%,-50%) rotate(-45deg);
}

.active .line-3{
    transform: translate(-50%,-50%) rotate(45deg);
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    -moz-transform: translate(-50%,-50%) rotate(45deg);
    -ms-transform: translate(-50%,-50%) rotate(45deg);
    -o-transform: translate(-50%,-50%) rotate(45deg);
}

.active .line-2{
  width: 0;
}

/* Style For Hero Section */

#home{
    padding: 10% 0;
}
.hero__title{
    font-size: clamp(3rem,6vw,4rem);
    font-weight: 800;
}

.hero__slogan{
    max-width: 550px;
    font-size: clamp(0.6rem,2vw,1.3rem);
    line-height: 34px;
    font-weight: 400;
}

.hero-btn{
    padding: 1rem;
    border: 1px solid var(--cl-purple);
    background-color: var(--cl-bg);
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    margin: 3rem 0;
}

.hero-btn:hover{
    background-color: var(--cl-purple);
    color: var(--cl-white);
}

/* End Style For Header */

/* Style For Courses */

.courses__title{
    font-size: clamp(1.8rem,3vw,3rem);
    text-align: center;
}

.courses-card__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    gap: 30px;
    scroll-snap-type: x mandatory;
    padding: 0 50px;
    margin: 2rem 0;
}

.courses-card__inner > .courses-card{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    min-width: 300px;
    height: 400px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    cursor: pointer;
    padding: 1rem;
    scroll-snap-align: center;
   scroll-snap-stop: always;
    box-shadow: 3px 2px 20px -18px rgba(145, 99, 217, 0.6);
    background-color: var(--cl-white);
}

.courses-card__inner::-webkit-scrollbar{
    display: none;
}



