/* Root */
:root{
    --cl-bg:#F5F9FF;
    --cl-white:#fff;
    --cl-black:#000;
    --cl-purple:#9163D9;
    --cl-text:#0A033C;
    --cl-primary:#1565C0 ;
}

/* Primary (asosiy elementlar, tugmalar):

#1565C0 (chuqur ko‘k)

yoki #1E88E5 (yorqin ko‘k)

Secondary (qo‘shimcha tugmalar, linklar):

#4FC3F7 (och cyan)

yoki #00ACC1 (to‘qroq turquoise)

Text (matn):

Asosiy matn: #212121 (quyuq kulrang, qora emas)

Ikkinchi darajali matn: #555555

Linklar: #1565C0

Accent (urg‘u beriladigan rang):

#FFB300 (yorqin sariq) – ko‘kka kontrast bo‘ladi

yoki #FF7043 (apelsin rang) – iliqlik qo‘shadi */

/* Fonts */
@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-Black.ttf);
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-ExtraBold.ttf);
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Bold.ttf) ;
    font-style: normal;
    font-weight: 700;
    font-display: swap;

}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-Medium.ttf);
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-Regular.ttf);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-Light.ttf);
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-ExtraLight.ttf);
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--cl-bg);
    position: relative;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a,
button,
.burger-menu{
    cursor: pointer;
}

.container{
    max-width: 1490px;
    margin: 0 auto;
    padding: 0 5px;
}

/* Style For Header */

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--cl-bg);
    padding: 1%;   
}

.header__wrapper,
.brand__wrapper,
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    gap: 0 30px;
}

.brand__wrapper{
    gap: 0 30px;
}

.brand__wrapper img{
    max-width: 60px;
    
}

.nav__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0 50px ;
}


.burger-menu{
    display: block;
    cursor: pointer;
    position: relative;   
}

.burger-menu span{
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--cl-text);
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.burger-menu span:nth-child(1){
    transform: translate(-50%,-10px);
    -webkit-transform: translate(-50%,-10px);
    -moz-transform: translate(-50%,-10px);
    -ms-transform: translate(-50%,-10px);
    -o-transform: translate(-50%,-10px);
}

.burger-menu span:nth-child(3){
    transform: translate(-50%,6px);
    -webkit-transform: translate(-50%,6px);
    -moz-transform: translate(-50%,6px);
    -ms-transform: translate(-50%,6px);
    -o-transform: translate(-50%,6px);
}

#mobile-burger , 
#desktop-burger{
    display: none;
}

.brand__wrapper span ,
.list__link{
    color: var(--cl-text);
}

.brand__wrapper span{
    font-size: clamp(1rem,3vw,1.7rem);
    font-weight: 600;
}